<div class="posts">
    <div class="row justify-content-center">
        <div class="col-lg-9" style="margin-top: 10px;">
            <div class="card">
                <div class="card-header">
                  <a class="btn btn-primary" href="/users/newUserForm">New User</a>
                </div>
                <div class="card-body">
                    {{#if this.data}}   
                        {{#each this.data}}  
                            <div class="card-header">
                                <h5>{{name}}</h5>
                                <p>{{email}}</p>
                                <a href="/users/details/{{id}}"  class="btn btn-primary">User Details</a>
                                {{!-- <a href="/users/delete/{{id}}"  class="btn btn-primary">Delete</a> --}}
                            </div>                   
                            <br><br>
                        {{/each}}                       
                    {{else}}
                        <tr>
                            <td>No users yet!</td>
                        </tr>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>